body{
    margin: 0;
    padding: 0;
}


.app{
    padding-top: 50px;
}
.card{
    border: 1px solid;
    padding: 25px;
    width: 500px;
    height: 250px;
    
}
.content{
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.icon{
    width: 25px;
    height: 25px;
}
.total-price{
    margin: 50px 0;
    margin-left: 110px;
    
}
button{
    background-color: #fff;
    border: none;
}