body{
    margin: 0;
    padding: 0;
}


.app{
    background-image: linear-gradient(to right top, #ffffff, #eee1fe, #e7c1f5, #e99de3, #ee73c7, #f069c0, #f25fb9, #f454b2, #f471c6, #f489d9, #f4a0e9, #f5b6f6);
    padding-top: 50px;
    height: 100vh;
}
.card{
    background-color: white;
    border: 2px solid;

    padding: 25px;
    width: 500px;
    height: 250px;
    transition: all 0.5s linear 0.25s;
}
.card:hover{
    border-radius: 15px;
    box-shadow: 10px 10px 10px whitesmoke;
}
.content{
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.icon{
    width: 25px;
    height: 25px;
}
.total-price{
    margin: 50px 0;
    margin-left: 110px;
    
}
button{
    background-color: #fff;
    border: none;
}